_{{ name }}_
{% if description -%}
    {{- description }}
{% endif -%}
Am {% if is_include_time(start) -%}
    *{{ start.strftime('%d. %m. %Y') -}}*
{%- else -%}
    *{{- start.strftime('%d. %m. %Y um %H:%M') -}}*
{%- endif %}{%- if not all_day %} bis {% if is_include_time(end) -%}
    *{{- end.strftime('%d. %m. %Y') -}}*
{%- else -%}
    *{{- end.strftime('%d. %m. %Y um %H:%M') -}}*
{%- endif -%}{%- endif -%}
{% if location %}
_Veranstaltungsort_: {{ location }}
{%- endif %}

{{ nop }}
