Du kannst einen der folgenden Kommandos absetzen:
    _{{ appointments }}_ gibt dir alle anstehenden Veranstaltungen in chronologischer Reihenfolge
    _{{ sub }}_ aktiviert die Benachrichtigungsfunktion. Ich werde dich dann benachrichtigen, wenn eine neue Veranstaltung erstellt wurde oder wenn eine Veranstaltung kurz bevor steht
    _{{ unsub }}_ deabonniert die automatische Kalenderbenachrichtigung
    _{{ help }} zeigt dir diesen hilfreichen Text an