Dein aktueller *Status* bei mir sieht so aus:
- Du hast die *Kalenderbenachrichtigung*, die dich benachrichtigt, sobald eine Veranstaltung eingetragen wird*
{%- if notify %} an{% else %} aus{% endif %}*
- Du hast die *Veranstaltungserinnerung*, die dich benachrichtigt, wenn eine Veranstaltung kurz bevorsteht*
{%- if remind %} an{% else %} aus{% endif %}*