Neu mit der Kalenderbot-Version *{{ version }}*:
{% if "1.1" == version %}
- *Änderung*: die Kommandos /abo und /deabo sind in /abo \[an|aus] umbenannt worden
- *Neu*: /erinnerung \[an|aus] lässt es nun zu, die Erinnerungsfunktion unabhängig von /abo zu steuern
- *Neu*: /status zeigt jetzt eine kurze Übersicht welche Funktionen du aktiviert oder deaktiviert hast
- *Fix*: Termine werden jetzt wieder korrekt formatiert
{% endif %}